<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container" style="text-align: center; margin-top: 50px;">
        <h1>Error</h1>
        <h2>Se ha producido un imprevisto</h2>
        <p>Deberías comprobar la URL, más abajo explicamos el fallo</p>
        <a href="/">
            <button class="btn btn-primary">Volver al menú principal</button>
        </a>
        <p></p>
        Error Message: {{message}}
    </div>

</body>

</html>