{{>header}}

<div class="content">
    <p></p>
    <p></p>
    <h1>Carrito de la Compra</h1>

    <div class="container">
        <h2>Productos en tu carrito</h2>

        {{#cartProducts}}
        <li
            style="font-size: 24px; display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #ccc;">
            <div>
                <a href="/products/{{id}}" style="text-decoration: none; color: #007bff;">{{name}}</a> - {{price}} €
            </div>

            <form method="post" action="/remove-from-cart/{{id}}" style="margin: 0;">
                <button type="submit" class="btn btn-danger"
                    style="padding: 5px 10px; display: flex; align-items: center; justify-content: center;"
                    onclick="return confirm('¿Estás seguro de que quieres borrarlo?');">Borrar
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </button>
            </form>
        </li>
        {{/cartProducts}}

        <div style="margin-top: 20px;"></div>

        <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Volver a todos los
            productos</button>
        {{#isEmpty}}
        <div style="margin-top: 20px;"></div>
        <button class="btn btn-outline-secondary" onclick="location.href='/checkout'; return false;">Realizar
            compra</button>
        {{/isEmpty}}
    </div>
</div>

{{>footer}}