{{>header}}
<p></p>
<div class="content">
    <h1>Pasarela de pagos</h1>
    <div>
        <p><b>Ya está todo gestionado, le llegará en 10-15 días:</b></p>
        {{#orders}}
        <p><b>Precio Total del Pedido:</b> {{totalPrice}} €</p>

        {{#products}}
        <a href="/products/{{id}}" class="product-item">
            <div class="product-img-container">
                <img class="product-img" src="/products/{{id}}/image" alt="{{name}}">
            </div>
            <p class="product-name">{{name}}</p>
            <p class="product-price">{{price}} €</p>
            <p><b>Descripción:</b> {{description}}</p>
        </a>
        {{/products}}
        {{/orders}}

        <p><b>Pulsa para cancelar el pedido:</b></p>
        <form action="/removeOrder/{{orders.id}}" method="post">
            <button type="submit" class="btn-danger">Cancelar pedido</button>
            <input type="hidden" name="_csrf" value="{{token}}" />
        </form>

        <p><b></b></p>
        <p><b></b></p>
        <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Volver a todos los productos</button>
        <p></p>
    </div>
</div>
{{>footer}}