{{>header}}
<p></p>
<p></p><p></p>
<p></p>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en el inicio de sesión</title>

</head>

<body>

    <div class="form-container">

        <div class="error-message">
            <p><strong>Error:</strong> Ha habido un problema al iniciar sesión. Intenta de nuevo.</p>
        </div>

        <p>¿No tienes cuenta?</p>
        <button class="btn btn-outline-secondary" onclick="location.href = '/newUser';">Registrarse</button>
    </div>
    {{>footer}}