{{>header}}
<p></p>
<p></p>
<h2>Nuevo Producto</h2>

<form action="/newproduct" method="post" enctype="multipart/form-data">

  <div class="mb-3">
    <label class="form-label">Nombre del producto</label>
    <input type="text" class="form-control" name="name" id="name" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Descripción: </label>
    <textarea class="form-control" name="description" id="description" required></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Precio: </label>
    <input type="number" class="form-control" name="price" id="price" step="0.01" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Stock disponible: </label>
    <input type="number" class="form-control" name="stock" id="stock" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Marca/Provedor: </label>
    <input type="text" class="form-control" name="provider" id="provider" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Imagen: </label>
    <input type="file" class="form-control" name="imageField" id="imageField" accept=".jpg, .jpeg" required>
  </div>

  <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Cancelar</button>
  <form action="/newproduct" method="POST">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <input type="hidden" name="_csrf" value="{{token}}" />
  </form>
</form>


{{>footer}}