{{>header}}

<div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4">
        <img class="img-thumbnail" src="/products/{{product.id}}/image" style="width: 100%; height: auto;">
      </div>
      <div class="col-8">
        <p><b></b></p>
        <h2>Nombre del producto: "{{product.name}}"</h2>
        <div>
          <p><b>Descripción:</b>{{{product.description}}}</p>
        </div>
        <p><b>Precio: </b>{{product.price}} €</p>

        <p><b>Stock disponible:</b> {{{product.stock}}} unidades</p>
        <div>
          <p><b>Marca:</b> {{{product.provider}}}</p>
        </div>

        <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Volver a todos los
          productos</button>
        <button class="btn btn-outline-dark" onclick="location.href='/productReviews/{{product.id}}'">Ver
          comentarios</button>
      </div>

      {{#isAdmin}}
      <p><b>¿Quieres editarlo?</b></p>
      <button class="btn btn-primary" style="width: 1200%; max-width: 1172px; margin-left: -15px;"
        onclick="location.href='/edit/{{product.id}}'">EDITAR</button>
      <p><b></b></p>

      <p><b>¿Quieres borrarlo?</b></p>
      <div style="justify-content: center;">
        <form action="/remove-from-products/{{product.id}}" method="post">
          <button class="btn btn-danger"
            style="width: 1200%; max-width: 1172px; margin-left: -25px; margin-bottom: 100px;"
            onclick="return confirm('¿Estás seguro de que quieres borrarlo?');">BORRAR</button>
          <input type="hidden" name="_csrf" value="{{token}}">
        </form>
      </div>
      {{/isAdmin}}

      {{^isAdmin}}

      <p><b>¿Quieres añadirlo al carrito?</b></p>
      <form method="post" action="/add-to-cart/{{product.id}}">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <button class="btn btn-success" style="width: 1200%; max-width: 1172px; margin-left: -15px;"
          {{#isOutOfStock}}disabled title="Producto sin stock" {{/isOutOfStock}}>
          AÑADIR AL CARRITO
        </button>
      </form>

      <p><b>¿Quieres comprarlo ahora?</b></p>
      <form method="get" action="/checkoutOne/{{product.id}}">
        <button type="submit" class="btn btn-warning" style="width: 1200%; max-width: 1172px; margin-left: -15px;"
          {{#isOutOfStock}}disabled title="Producto sin stock" {{/isOutOfStock}}>
          COMPRAR AHORA
        </button>
      </form>

      {{#isOutOfStock}}
      <p style="color: red; font-size: 1.5em; font-weight: bold; margin-top: 10px;">
        Lo sentimos, este producto está agotado.
      </p>
      {{/isOutOfStock}}

      {{/isAdmin}}


    </div>
  </div>
</div>

{{>footer}}